@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: recklessFont;
  src: url(/public/fonts/RecklessNeue-Thin.ttf);
}

@font-face {
  font-family: denimFont;
  src: url(/public/fonts/denim.ttf);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(167 208 216);
  border: none;
}

h1 {
  font-family: recklessFont;
  font-size: 3rem;
  letter-spacing: -0.02em;
  line-height: 3.75rem;
}

a {
  text-decoration: underline;
}

p {
  font-family: recklessFont;
}

.mr-2 {
  font-family: denimFont;
}

.blue-text {
  color: rgb(33 157 251);
}

.input {
  display: flex;
  margin-top: 20px;
  position: relative;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

.input_box {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgba(208 213 221);
  padding: 0.625rem 0.875rem;
  width: 100%;
}

.input_submit {
  background-color: rgb(167 208 216);
  color: rgb(20 9 35);
  padding: 0.625rem 1.125rem;
  border-radius: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media (min-height: 900px) {
  .tall-md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
